body {
  font-family: Georgia, serif;
  max-width: 640px;
  margin: 0 auto !important;
  padding: 4em;
}

div#logo {
  width: 220px;
  margin: 0 auto;
}

div#search-box {
  margin: 1em auto;
}

div#search-button {
  width: 52px;
  margin: 1em auto;
}